*{
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.head{
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
}

section{
    width: 90%;
    height: 290px;
    background-color: lightgrey;
    border: 2px solid black;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    padding: 10px;
    color: black;
    position: relative;
}

.row{
    width: 100%;
}

@media(min-width: 992px){
    .col-lg-3{
        float: left;
    }
    .col-lg-3{
        width: 33.33%;
    }
}

@media(min-width: 768px) and (max-width: 991px){
    .col-md-12, .col-md-6{
        float: left;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-12{
        width: 100%;
    }
}

@media(max-width: 767px){
    .col-sm-12{
        float: left;
        width: 100%;
    }
}

.title{
    width: 100px;
    height: 30px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    position: absolute;
    top: 0;
    right:0;
    margin-right: 0px;
    margin-top: 0px;
    font-size: 1.25rem;
    text-align: center;
}

#section1{
    color: black;
    background-color: palevioletred;
}

#section2{
    color: white;
    background-color: crimson;
}

#section3{
    color: black;
    background-color: burlywood;
}